tutorial link: https://www.youtube.com/watch?v=lK9gx4q_vfI&list=LL&index=5&t=1709s

regex practice/helpful website: https://regex101.com/r/OY3LfL/1

In [1]:
import re

In [2]:
text ='''

Born	Elon Reeve Musk
June 28, 1971 (age 51)
Pretoria, Transvaal, South Africa
Citizenship	United States[1]
Education	
University of Pennsylvania (BA, BS)
Title	
Founder, CEO, and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
President of Musk Foundation
Spouse(s)	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partner(s)	Grimes (2018–2022)[2]
Children	10[a][4]
Parents	
Errol Musk (father)
Maye Musk (mother)
Relatives	
Tosca Musk (sister)
Kimbal Musk (brother)
Lyndon Rive (cousin)
Family	Musk family
Awards	List of honors and awards

'''

to find the name

In [8]:

pattern ='Born(.*)\n'
matches = re.findall(pattern,text)
print(matches)
matches[0].strip()

['\tElon Reeve Musk']

'Elon Reeve Musk'

To find the age

In [9]:
pattern ='age (\d+)'
matches = re.findall(pattern,text)
print(matches)
matches[0].strip()

['51']

'51'

to find the birth date

In [10]:
pattern ='Born.*\n(.*)\(age'
matches = re.findall(pattern,text)
print(matches)
matches[0].strip()

['June 28, 1971 ']

'June 28, 1971'

to find birth place

In [16]:
pattern ='Born.*\n.*\n(.*)'
matches = re.findall(pattern,text)
print(matches)
matches[0].strip()

['Pretoria, Transvaal, South Africa']

'Pretoria, Transvaal, South Africa'

In [ ]:
pattern ='Born.*\n.*\n(.*)'
matches = re.findall(pattern,text)
print(matches)
matches[0].strip()

declaring a func to write them all

In [12]:
def get_pattern_match(pattern,text):
    matches=re.findall(pattern,text)
    if matches:
        return matches[0].strip()
    else:
        return None

In [15]:
get_pattern_match('Born.*\n.*\n(.*)',text)

'Pretoria, Transvaal, South Africa'

In [19]:
def get_personal_information(text):
    name= get_pattern_match('Born(.*)\n',text)
    age= get_pattern_match('age (\d+)',text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age',text)
    birth_place = get_pattern_match('Born.*\n.*\n(.*)',text)
    return {
        'name' : name.strip(),
        'age': int(age),
        'birth date': birth_date.strip(),
        'birth place': birth_place.strip()
    }

In [20]:
get_personal_information(text)

{'name': 'Elon Reeve Musk',
 'age': 51,
 'birth date': 'June 28, 1971',
 'birth place': 'Pretoria, Transvaal, South Africa'}

EXERCISE FOR THE CLASS

Ques01: Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [21]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'https://twitter.com/([a-zA-Z0-9_]+)' # todo: type your regex here

re.findall(pattern, text)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

Ques02: Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

(1) Credit Risk

(2) Supply Rish

In [22]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'Concentration of Risk: (.*)\n' # todo: type your regex here

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

Ques03: Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

Hint: you need to use (?:) here to match everything enclosed

In [24]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:S[0-9]+|Q[0-9]+))' # todo: type your regex here
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']